#button_new_alarmclock{
    position: fixed;
    bottom: 30px;
    right: 140px;
    margin-left: -25px;
    background: url(../src/alarmClock/new_alarmclock.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}
.alarmclock_block{
    position: relative;
}
.alarmclock_block p{
    font-size: 40px;
    line-height: 40px;
    float:left;
    text-align: left;
    margin-right: 60px;
    position:absolute;
    top:30px;
}
.alarmclock_block .alarmclock_close{
    position:absolute;
    top:30px;
    right:50px;
    z-index: 1;
}
.alarmclock_block .alarmclock_selected{
    position:absolute;
    top:10px;
    right:45px;
    width:20px;
    height:20px;
}
#bar_leftside .bar_time{
    position: absolute;
    left:25px;
}