*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    width: 100%;
    height: 100%;
    min-width: 960px;
}
body{
    width: 100%;
    height: 100%;
}
/* main structure part */
#bar_leftside{
    width:330px;
    height:100%;
    position: relative;
    float: left;
    background: rgb(189, 189, 189);
}
#bar_rightside{
    width:330px;
    height:100%;
    position: relative;
    float: right;
    background: rgb(189, 189, 189);
}
#bar_center{
    width: calc(100% - 700px);
    height:100%;
    position: relative;
    float:left;
}
/* clock block display part */
.block{
    width:298px;
    height:100px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: black solid 1px;
}
.close{
    width:40px;
    height:40px;
    border-style: none;
    background:url(../src/close.png) no-repeat 0 0;
    background-size: 40px 40px;
}
/* time bar part */
.bar_time{
    width:240px;
    height: 140px;
    padding: 16px;
    font-size:40px;
    line-height: 40px;
    text-align: center;
}
.bar_time p{
    margin-left: 4px;
    margin-right: 4px;
    display: inline;
}
.bar_time_item{
    width:50px;
    float:left;
    margin-left: 20px;
}
.bar_time_item img{
    width:30px;
    height:30px;
    float:left;
    margin-left: 10px;
}