*{
    margin: 0;
    padding: 0;
}

#navigator{
    width: 100%;
    height: 50px;
    background-color: #2f363e;
    text-align: center;
    font-size: 40px;
    font-family: "微软雅黑";
    display: flex;
    justify-content: center;
}

#navigator ul
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
}

#navigator ul li
{
    list-style: none;
    display: inline-block;
    transform: translateY(-6%);
}

#navigator ul li a
{
    position: relative;
    text-decoration: none;
    line-height: 50px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}

#navigator ul li a::before
{
    content: attr(data-text);
    position: absolute;
    transform: translateY(6%);
    /* 这里clr3报错不影响，因为是在navigatorControl.js里往document写入html时定义的变量clr3，没有直接在html文件里定义*/
    color: var(--clr3);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr3);
    -webkit-text-stroke: 1px var(--clr3);
}

#navigator ul li a:hover::before
{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr3));
}