#bar_leftside
{
    background: rgba(189,189,189);
}

#bar_center
{
    display: flex;
    flex-direction: column;
}

#stopwatch_bar
{
    position: relative;
    top: auto;
    width: 100%;
}

#stopwatch_button_bar
{
    position: relative;
    top: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#button_number
{
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: right;
    background: url("../src/stopwatch_number.png") no-repeat #feeeed 13px 2px;
    background-size: 36px 42px;
}

#button_pointer
{
    width: 200px;
    height: 50px;
    font-size: 30px;
    text-align: right;
    background: url("../src/stopwatch_pointer.png") no-repeat #feeeed 20px 7px;
    background-size: 27px 33px;
}

#stopwatch_pointer
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%) scale(2);
    width: auto;
    height: 300px;
}

#bottom_bar
{
    position: relative;
    top: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.button_bar
{
    display: flex;
    flex-direction: column;
}

#button_restart
{
    margin: auto;
    background: url(../src/restart.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

#button_start
{
    margin: auto;
    width: 50px;
    height:50px;
    border-style: none;
}

#button_record
{
    margin: auto;
    background: url(../src/stopWatch/record.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

.stopwatch_block
{
    position: relative;
    height:110px;
    justify-content: space-around;
    border: solid #feeeed 2px;
}

.stopwatch_block span
{
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.stopwatch_block .stopwatch_relative
{
    font-size:20px;
    color:gray;
    line-height: 20px;
    top:70px;
}

#wrapper
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 190%);

    height: 100px;
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}

#wrapper #display,
#wrapper span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper #display
{
    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
}

#wrapper #display #stopwatch
{
    line-height: 85px;
    font-family: Consolas, serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}

@keyframes animate
{
    100%
    {
        filter: hue-rotate(360deg);
    }
}

#wrapper span
{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

#wrapper span:first-child
{
    filter: blur(10px);
}

#wrapper span:last-child
{
    filter: blur(20px);
}