#bar_leftside
{
    background: rgba(189,189,189,0.3);
}

#bar_rightside
{
    display: flex;
    flex-direction: column;
}

#stopwatch_bar
{
    position: fixed;
    width: 852px;
    height: 535px;
}

#stopwatch
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
}

#bottom_bar
{
    position: fixed;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 852px;
    height: 80px;
    font-size: 20px;
    text-align: center;
}

.button_bar
{
    display: flex;
    flex-direction: column;
}

#button_restart
{
    margin: auto;
    background: url(../src/restart.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

#button_start
{
    margin: auto;
    background: url(../src/start.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

#button_record
{
    margin: auto;
    background: url(../src/stopWatch/record.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

.stopwatch_block
{
    position: relative;
    height:110px;
    display: flex;
    justify-content: space-around;
}

.stopwatch_block p
{
    font-size: 40px;
    line-height: 40px;
    float:left;
    text-align: left;
    margin-right: 60px;
    position:absolute;
    top:20px;
}

.stopwatch_block .stopwatch_relative
{
    font-size:20px;
    color:gray;
    line-height: 20px;
    top:70px;
}