#bar_leftside
{
    background: #2f363e;
}

#bar_rightside
{
    background: #2f363e;
}

#bar_center
{
    background: #2f363e;
}

#timer_count
{
    position: relative;
    display: flex;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size:50px;
    font-family:"Times New Roman",Georgia,Serif;
}

#count
{
    position: relative;
    display: flex;
    color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 98%);
}

#stopwatch_pointer
{
    position: absolute;
    left: 50%;
    top: 77%;
    transform: translateX(-50%) scale(2);
    width: auto;
    height: 300px;
}

#timer_bar
{
    position: relative;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
    left: 50%;
    top: 44%;
    transform: translateX(-50%);
    font-size: 23px;
    font-family: "Times New Roman",Georgia,Serif;
}

#timer_bar span
{
    position: relative;
    align-items: center;
}

#timer_bar select
{
    width: auto;
}

#bottom_bar
{
    position: relative;
    top: 52%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.button_bar
{
    display: flex;
    flex-direction: column;
    color: white;
}

#restart_bar
{
    position: relative;
}

#start_bar
{
    position: relative;
}

#button_restart
{
    margin: auto;
    background: url(../src/restart_white.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}

#button_start
{
    margin: auto;
    background: url(../src/start_white.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}
