#bar_leftside
{
    background: rgba(189,189,189,0.3);
}

#bar_rightside
{
    background: rgba(189,189,189,0.3);
}

#timer_count
{
    position: relative;
    display: flex;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size:50px;
    font-family:"Times New Roman",Georgia,Serif;
}

#count
{
    position: relative;
    display: flex;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 98%);
}

#stopwatch_pointer
{
    position: absolute;
    left: 50%;
    top: 77%;
    transform: translateX(-50%) scale(2);
    width: auto;
    height: 300px;
}

#timer_bar
{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 852px;
    height: 200px;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    font-size:23px;
    font-family:"Times New Roman",Georgia,Serif;
}
#timer_bar span
{
    position: relative;
    top: 12px;
    align-items: center;
}
#timer_bar select
{
    height: 50px;
}

#bottom_bar
{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left:50%;
    top:85%;
    width: 852px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%,-50%);
}

.button_bar
{
    display: flex;
    flex-direction: column;
}

#restart_bar
{
    position: relative;
}
#start_bar
{
    position: relative;
}
#button_restart
{
    margin: auto;
    background: url(../src/restart.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}
#button_start
{
    margin: auto;
    background: url(../src/start.png) no-repeat center center;
    background-size: 50px 50px;
    width: 50px;
    height:50px;
    border-style: none;
}
